body {
    background-image: url("obrazy/airplane-big-cloud.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.logo
{
    float: left;
    margin-left: 25px;

}

.h1
{
    font-family: "Arial Black", serif;
}

.t1
{
    font-family: "Arial Black", serif ;
}